In [1]:
import pandas as pd
import numpy as np

## Removing the shifted rows

In [26]:
data = pd.read_csv('../data/car_prices.csv', error_bad_lines=False)
data

b'Skipping line 408163: expected 16 fields, saw 17\nSkipping line 417837: expected 16 fields, saw 17\nSkipping line 421291: expected 16 fields, saw 17\nSkipping line 424163: expected 16 fields, saw 17\n'
b'Skipping line 427042: expected 16 fields, saw 17\nSkipping line 427045: expected 16 fields, saw 17\nSkipping line 434426: expected 16 fields, saw 17\nSkipping line 444503: expected 16 fields, saw 17\nSkipping line 453796: expected 16 fields, saw 17\n'
b'Skipping line 461599: expected 16 fields, saw 17\nSkipping line 461614: expected 16 fields, saw 17\n'
b'Skipping line 492486: expected 16 fields, saw 17\nSkipping line 497010: expected 16 fields, saw 17\nSkipping line 497013: expected 16 fields, saw 17\nSkipping line 499085: expected 16 fields, saw 17\nSkipping line 501457: expected 16 fields, saw 17\nSkipping line 505301: expected 16 fields, saw 17\nSkipping line 505308: expected 16 fields, saw 17\nSkipping line 520463: expected 16 fields, saw 17\n'
b'Skipping line 528998: expected 16 fields, saw 17\nSkipping line 529011: expected 16 fields, saw 17\nSkipping line 529015: expected 16 fields, saw 17\nSkipping line 529624: expected 16 fields, saw 17\nSkipping line 548786: expected 16 fields, saw 17\nSkipping line 551224: expected 16 fields, saw 17\nSkipping line 554712: expected 16 fields, saw 17\n'

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,"kia motors america, inc",20500,21500,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,"kia motors america, inc",20800,21500,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,4.5,1331.0,gray,black,financial services remarketing (lease),31900,30000,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,4.1,14282.0,white,black,volvo na rep/world omni,27500,27750,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,4.3,2641.0,gray,black,financial services remarketing (lease),66000,67000,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558806,2015,Kia,K900,Luxury,Sedan,NaN,knalw4d4xf6019304,in,4.5,18255.0,silver,black,avis corporation,35300,33000,Thu Jul 09 2015 07:00:00 GMT-0700 (PDT)
558807,2012,Ram,2500,Power Wagon,Crew Cab,automatic,3c6td5et6cg112407,wa,5.0,54393.0,white,black,i -5 uhlmann rv,30200,30800,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558808,2012,BMW,X5,xDrive35d,SUV,automatic,5uxzw0c58cl668465,ca,4.8,50561.0,black,black,financial services remarketing (lease),29800,34000,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558809,2015,Nissan,Altima,2.5 S,sedan,automatic,1n4al3ap0fc216050,ga,3.8,16658.0,white,black,enterprise vehicle exchange / tra / rental / t...,15100,11100,Thu Jul 09 2015 06:45:00 GMT-0700 (PDT)
558810,2014,Ford,F-150,XLT,SuperCrew,automatic,1ftfw1et2eke87277,ca,3.4,15008.0,gray,gray,"ford motor credit company,llc pd",29600,26700,Thu May 28 2015 05:30:00 GMT-0700 (PDT)

## Taking a Sample (1/10 of the original dataset)

In [34]:
sample = data.sample(frac=0.1)

## Reseting the Index

In [35]:
sample = sample.reset_index()

## Dropping the old Index

In [36]:
sample = sample.drop('index', axis=1)

## Checking for Null Values

In [37]:
sample.isna().sum()

year               0
make            1036
model           1041
trim            1075
body            1306
transmission    6481
vin                0
state              0
condition       1151
odometer           9
color             67
interior          67
seller             0
mmr                0
sellingprice       0
saledate           0
dtype: int64

most of null values can be replaced with median

vin must be unique

model and make contains a lot of inconsistencies

adjust color and interior to be Null/ unknown

## Converting the odometer, mmr, and sellingprice to string columns

In [38]:
sample[['odometer','mmr','sellingprice']]= sample[['odometer','mmr','sellingprice']].astype(str)

In [31]:
sample.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55881 entries, 0 to 55880
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   year          55881 non-null  int64
 1   make          54829 non-null  object
 2   model         54818 non-null  object
 3   trim          54796 non-null  object
 4   body          54527 non-null  object
 5   transmission  49292 non-null  object
 6   vin           55881 non-null  object
 7   state         55881 non-null  object
 8   condition     54698 non-null  float64
 9   odometer      55881 non-null  object
 10  color         55804 non-null  object
 11  interior      55804 non-null  object
 12  seller        55881 non-null  object
 13  mmr           55881 non-null  object
 14  sellingprice  55881 non-null  object
 15  saledate      55881 non-null  object
dtypes: float64(1), int64(1), object(14)
memory usage: 6.8+ MB

## Adding the Dollar Sign to mmr and sellingprice

In [39]:
sample['mmr'] = '$' + sample['mmr']
sample['mmr']

0        $22800
1         $4025
2        $12800
3        $15000
4        $18850
          ...
55876    $10650
55877     $7100
55878    $12950
55879    $11850
55880    $13100
Name: mmr, Length: 55881, dtype: object

In [40]:
sample['sellingprice'] = '$' + sample['sellingprice']
sample['sellingprice']

0        $21400
1         $3000
2        $14750
3        $15700
4        $18500
          ...
55876    $10800
55877     $7500
55878    $10700
55879    $12750
55880    $13200
Name: sellingprice, Length: 55881, dtype: object

In [42]:
sample[['mmr','sellingprice']]

          mmr sellingprice
0      $22800       $21400
1       $4025        $3000
2      $12800       $14750
3      $15000       $15700
4      $18850       $18500
...       ...          ...
55876  $10650       $10800
55877   $7100        $7500
55878  $12950       $10700
55879  $11850       $12750
55880  $13100       $13200

[55881 rows x 2 columns]

## Adding mi to the odometer

In [44]:
sample['odometer'] = sample['odometer'] + 'mi'

In [45]:
sample['odometer']

0         36188.0mi
1         83294.0mi
2        144068.0mi
3         12008.0mi
4          4437.0mi
            ...
55876     15490.0mi
55877     49662.0mi
55878     24204.0mi
55879     97955.0mi
55880     34434.0mi
Name: odometer, Length: 55881, dtype: object

## saving the new dataset

In [ ]:
sample = sample.to_csv('car_prices_sample.csv')